.cnt-cardCTAservices {
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 21px;
}

.cardCTAservices {
    text-align: center;
    padding: 30px 0 20px;
}

.titleCardCTAServ {
    color: white;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 20px;
}

.textCardCTAServ {
    font-size: 16px;
    color: #6F6F6F;
    line-height: 24px;
    padding-bottom: 20px;
}

.btn-fatherCTAbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-OneCtaServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 3rem;
    font-size: 15px;
    color: white;
    background-color: #0C4E6E;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.arrowCtaServices {
    font-size: 11px;
    padding-left: 10px;
}

.btn-TwoCtaServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 3rem;
    font-size: 15px;
    color: #6F6F6F;
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}

.team-section {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px 0;
}

.team-section .tittleH2Team{
    color: white;
}

.team-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.team-member {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    position: relative;
}

.one {
    background-color: #BFE3D4;
    margin-right: -15px;
    z-index: 1;
}

.two {
    width: 110px;
    height: 110px;
    background-color: #EAE8B3;
    z-index: 2;
}

.three {
    background-color: #F9C3D3;
    margin-left: -15px;
    z-index: 1;
}