---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<BaseLayout
    title="Kitchen Remodeling Experts | 1GC Construction"
    description="From open layouts to premium countertops – transform your kitchen today with 1GC’s expert team."
>
    <h1>Hola soy la pagina de Mold Remediation</h1>
</BaseLayout>