/* =====================
   MITIGATION DAMAGE PAGE SPECIFIC STYLES
   Importing shared damage page template
   ===================== */

@import "../templates/damage-shared.css";

/* =====================
    HERO SECTION OVERRIDES
   ===================== */

.hero-section {
    background-image: url(/images/heroMitigation.webp);
}