---
// Trust Bar component for displaying trust indicators
---

<section class="trust-bar">
  <div class="container">
    <div class="trust-indicators">
      <div class="trust-item">
        <i class="fas fa-shield-alt trust-icon"></i>
        <span>Licensed & Insured</span>
      </div>
      <div class="trust-item">
        <i class="fas fa-certificate trust-icon"></i>
        <span>IICRC Certified</span>
      </div>
      <div class="trust-item">
        <i class="fas fa-star trust-icon"></i>
        <span>4.9★ Rating</span>
      </div>
      <div class="trust-item">
        <i class="fas fa-clock trust-icon"></i>
        <span>24/7 Response</span>
      </div>
      <div class="trust-item">
        <i class="fas fa-handshake trust-icon"></i>
        <span>Insurance Billing</span>
      </div>
    </div>
  </div>
</section>