---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@fortawesome/fontawesome-free/css/all.min.css";
import "../styles/portfolio.css";
import TabsNavegation from "../components/TabsNavegation.jsx";
---

<BaseLayout
  title="Inicio - Mi Sitio Web"
  description="Bienvenido a nuestro sitio web profesional. Ofrecemos servicios de calidad y contenido valioso."
>
  <!-- Section One -->

  <section class="projects-section">
    <div class="projects-container">
      <div class="project-frame image-one">
        <img
          src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?w=500&q=80"
          alt="Interior de una sala de estar moderna con un sill칩n"
          class="project-photo"
        />
      </div>

      <div class="project-frame image-two">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&q=80"
          alt="Dise침o de interior minimalista con silla y l치mpara"
          class="project-photo"
        />
      </div>

      <h1 class="projects-title">
        Our<br />Projects
      </h1>
    </div>
    <div class="cnt-projects-description">
      <p class="projects-description">
        home designed to combine simplicity and functionality with a sleek,
        timeless aesthetic. The project aimed to create an open, airy living
        space that maximizes natural light while maintaining a clutter-free and
        sophisticated environment.
      </p>
    </div>
  </section>

  <!-- Section Two -->

  <section class="image-gallery-section">
  <h2 class="gallery-title">Our gallery</h2>
  
  <div class="gallery-grid">
    <div class="gallery-item">
      <img
        src="/images/remoKitchenHome.jpg"
        alt="ProyectKitchen"
        class="gallery-image"
      />
    </div>
    
    <div class="gallery-item">
      <img
        src="/images/habitacionModerna.jpg"
        alt="ProyectBedroom"
        class="gallery-image"
      />
    </div>

    <div class="gallery-item">
      <img
        src="/images/ba침oMinimalista.jpg"
        alt="ProyectBathroom"
        class="gallery-image"
      />
    </div>

    <div class="gallery-item">
      <img
        src="/images/livingDiningHero.jpg"
        alt="ProyectLivingDining"
        class="gallery-image"
      />
    </div>
  </div>
</section>
<section>
  <TabsNavegation client:load />
</section>
</BaseLayout>
