---
import BaseLayout from "../layouts/BaseLayout.astro";
import Acordeon from "../components/Acordeons.jsx";
import AreasServed from "../components/AreasServed.jsx";
import TabsNavegation from "../components/TabsNavegation.jsx";
import LinkBuildingSection from "../components/linkBuilding";
import "../styles/services.css";
---

<BaseLayout
  title="Servicios - Mi Sitio Web"
  description="Descubre nuestros servicios profesionales: desarrollo web, consultoría digital, marketing online, SEO y más. Soluciones personalizadas para tu negocio."
>
  <section>
    <div class="heroContainerH1">
      <div class="cnt-Back-images">
        <img
          src="images/arquite2.jpg"
          alt="Background 1"
          class="background-image"
        />
      </div>
      <div class="hero-text">
        <h1>Professional Remodeling Services</h1>
      </div>
    </div>
  </section>
  <section>
    <TabsNavegation client:load />
  </section>
  <section>
    <AreasServed client:load />
  </section>
  <section>
    <LinkBuildingSection />
  </section>
  <section>
    <Acordeon client:load />
    <div class="cnt-btn-FAQ">
      <button class="btn-ctaFAQ"
        >Free Quote<i class="ArrowFreeCtaAcordeon bi bi-arrow-up-right"
        ></i></button
      >
    </div>
  </section>
</BaseLayout>
