---
import BaseLayout from "../layouts/BaseLayout.astro";
import AreasServed from "../components/AreasServed.jsx";
import LinkBuildingSection from "../components/linkBuilding";
import "../styles/services.css";
---

<BaseLayout
  title="Construction & Remodeling Services | 1GC Florida"
  description="Explore all residential and commercial services: kitchen, bathroom, flooring & more. Licensed & insured."
>
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="hero-title">Professional Remodeling Services</h1>
      <p class="hero-subtitle">
        Transforming spaces in Cali with quality craftsmanship and attention to
        detail.
      </p>
      <a href="/contact" class="hero-cta-button">Get a Free Quote</a>
    </div>
  </section>
  <section>
    <div class="tabs-container">
      <div class="tabs-services">
        <div class="cnt-iconsServices">
          <a href="/services/kitchen-remodeling" class="tab-button"
            ><i class="fas fa-kitchen-set"></i>Kitchens</a
          >
        </div>

        <div class="cnt-iconsServices">
          <a href="/services/bathroom-remodeling" class="tab-button"
            ><i class="fas fa-bath"></i>Bathrooms</a
          >
        </div>

        <div class="cnt-iconsServices">
          <a href="/services/bedroom-remodeling" class="tab-button"
            ><i class="fas fa-bed"></i>Bedroom</a
          >
        </div>

        <div class="cnt-iconsServices">
          <a href="/services/home-additions-remodeling" class="tab-button">
            <i class="fas fa-house-chimney-window"></i>HomeAdditions</a
          >
        </div>

        <div class="cnt-iconsServices">
          <a href="/services/living-dining-remodeling" class="tab-button"
            ><i class="fas fa-couch"></i>Living & Dining</a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="services-grid-container">
    <div class="services-grid">
      <div class="service-card">
        <img
          src="/images/kitchenHero.jpg"
          alt="Remodelaci칩n de Cocina"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Kitchen Remodeling</h2>
          <div class="cnt-tagsServices">
            <span>Kitchen Islands</span>
            <span>Compact Kitchens</span>
            <span>Luxury Upgrades</span>
            <span>Sustainable Designs</span>
            <span>Smart Tech Integration</span>
            <span>Modern kitchen Design</span>
          </div>
          <div>
            <a href="/services/kitchen-remodeling" class="card-link"
              >Transform Your Kitchen Today &rarr;</a
            >
          </div>
        </div>
      </div>

      <div class="service-card">
        <img
          src="/images/bathroomHero.jpg"
          alt="Renovaci칩n de Ba침o"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Bathroom Renovation</h2>
          <div class="cnt-tagsServices">
            <span>Bathroom Renovation</span>
            <span>Shower Installation</span>
            <span>Tile Replacement</span>
            <span>Vanity Upgrade</span>
            <span>Bathroom Waterproofing</span>
            <span>Modern Bathroom Design</span>
          </div>
          <div>
            <a href="/services/bathroom-remodeling" class="card-link"
              >Upgrade Your Bathroom Now &rarr;</a
            >
          </div>
        </div>
      </div>

      <div class="service-card">
        <img
          src="/images/bedroomHero.jpg"
          alt="Dise침o de Habitaciones"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Bedroom Design</h2>
          <div class="cnt-tagsServices">
            <span>Master Bedrooms</span>
            <span>Guest & Kids Rooms</span>
            <span>Luxury Upgrades</span>
            <span>Smart Home Integration</span>
            <span>Eco-Friendly Designs</span>
          </div>
          <div>
            <a href="/services/bedroom-remodeling" class="card-link"
              >Create Your Dream Bedroom &rarr;</a
            >
          </div>
        </div>
      </div>

      <div class="service-card">
        <img
          src="/images/livingDiningHero.jpg"
          alt="Salas y Comedores"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Living & Dining</h2>
          <div class="cnt-tagsServices">
            <span>Living Rooms</span>
            <span>Dining Rooms</span>
            <span>Luxury Upgrades</span>
            <span>Smart Lighting</span>
            <span>Bathroom Waterproofing</span>
            <span>Modern Bathroom Design</span>
          </div>
          <div>
            <a href="/services/living-dining" class="card-link"
              >Redesign Your Living Spaces &rarr;</a
            >
          </div>
        </div>
      </div>

      <div class="service-card">
        <img
          src="/images/home-additionsHero.jpg"
          alt="Adiciones al Hogar"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">Home Additions</h2>
          <div class="cnt-tagsServices">
            <span>Room Expansions</span>
            <span>Multi-Story Projects</span>
            <span>Outdoor Structures</span>
            <span>Smart Home Integration</span>
            <span>Energy Efficient Additions</span>
          </div>
          <div class="cnt-card-linkServices">
            <a href="/services/home-additions" class="card-link"
              >Expand Your Living Space &rarr;</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <AreasServed client:load />
  </section>
  <section>
    <LinkBuildingSection />
  </section>
</BaseLayout>
