<div
    class="in-article-ad-container"
    style="margin: 2rem 0; text-align: center;"
>
    <ins
        class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-7161830191523275"
        data-ad-slot="5630406674"></ins>
    <script is:inline>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
